@font-face {
  font-family: 'ProcessingSans-Bold';
  src: url('../fonts/ProcessingSans-Bold.ttf');
}
@font-face {
  font-family: 'ProcessingSans-Regular';
  src: url('../fonts/ProcessingSans-Regular.ttf');
}
@font-face {
  font-family: 'SourceCodePro-Bold';
  src: url('../fonts/SourceCodePro-Bold.ttf');
}
@font-face {
  font-family: 'SourceCodePro-Regular';
  src: url('../fonts/SourceCodePro-Regular.ttf');
}

* {
  cursor: none;
  }

html, body, iframe {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

iframe {
  height: 90%;
}

#meta{
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 10%;
  z-index: 1000;
  color: white;
  background-color: black;
  padding: 20px;
  font-family: 'SourceCodePro-Regular';
  font-size: 20px;
}
#meta h1{
  font-family: 'SourceCodePro-Bold';
  font-size: 40px;
  max-width: 76%;
  margin-bottom: 5px;
}

#qrcode {
  position: absolute;
  bottom: 2%;
  right: 3%;
  z-index: 1500;
  padding: 15px;
  background-color: white;
}

#progress {
  background-color: white;
  bottom: 0px;
  left: 0px;
  width: 0px;
  height: 20px;
  position: absolute;
  z-index: 1500;
}

#overlay {
  background: rgb(0,0,0);
  opacity: 0;
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  transition:opacity 1s ease;
  z-index: 2000;
}

#overlay.active {
  opacity:1;
}




#simulator{
  background-color: #000;
}
.iframeThird{
  background-color: #FFF;
  width: 1080px;
  height: 1920px;
  float: left;
  border: 1px solid;
  zoom: 1;
  -moz-transform: scale(0.45);
  -moz-transform-origin: 0 0;
  -o-transform: scale(0.45);
  -o-transform-origin: 0 0;
  -webkit-transform: scale(0.45);
  -webkit-transform-origin: 0 0;
  position: absolute;
  top: 0px;
}
#sketchFrame2.iframeThird{
  left: 486px;
}
#sketchFrame3.iframeThird{
  left: 972px;
}